/*-----------------global-----------------*/
@font-face {
  font-family: "unisans";
  src: url(../public/English/Uni-Sans-Semi-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "unisans";
  src: url(../public/English/Uni-Sans-Regular.otf);
  src: url(../public/English/Uni-Sans-Regular.otf);
  font-weight: 600;
}
/* @font-face {
  font-family: "unisans";
  src: url(..\public\English\Uni-Sans-Book.otf);
  font-weight: 500;
} */
* {
  font-family: "unisans";
}
html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 0.9rem !important;
  margin: 0;
}
.content-container {
  margin-top: 5%;
}
.header-content-container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@media (max-width: 1440px) {
  .header-content-container {
    max-width: 1250px;
  }
}
@media (max-width: 1024px) {
  .header-content-container {
    max-width: 900px;
  }
}

/*-----------------heder-----------------*/

.navbar .navbar-light .navbar-expand-lg {
  align-items: center;
}
#english {
  display: none;
}
#arabic {
  display: inline-block;
}
.navbar {
  display: inline-flex !important;
}
.navbar-light {
  background-color: #ffffff !important;
  width: 100%;
}
/*logo container*/
.navbar-brand {
  width: 60% !important;
  margin: 0% !important;
  align-items: end !important;
  top: 0% !important;
  display: inline-block !important;
  text-align: right !important;
}
/*off canva*/
#navbarOffcanvasLg {
  display: inline-block !important;
}
.footer-in-header {
  display: none;
}
.offcanvas-devider {
  display: none;
}

/*icons container*/
.navbar-nav {
  display: inline-flex !important;
}
header img {
  width: 59%;
}
#shopping-cart,
#Saudi-Flag {
  display: inline-block;
}
.lang {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.55);
  font-family: "Noto Sans Arabic", sans-serif;
  display: inline-block;
  background: transparent;
  border: none;
  width: 100%;
}
.padding-lang {
  padding-left: 10%;
  padding-right: 10%;
}
.nav-link {
  padding: 0 !important;
}
/*search*/
.search {
  display: inline-flex !important;
  padding-right: 2% !important;
}
.form-control {
  display: inline-flex !important;
  padding: auto 0 0 0 !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  border: none !important;
  border-radius: 0% !important;
  border-bottom: 1px solid rgba(64, 69, 83, 0.2) !important;
}
.form-control:focus {
  border-color: #73cde1 !important;
  box-shadow: none !important;
}
.form-control {
  width: 100%;
}
div .search {
  width: 100% !important;
  margin-right: 30%;
}
.btn-outline-success {
  color: rgba(64, 69, 83, 0) !important;
  border-color: rgba(64, 69, 83, 0) !important;
}
.btn-outline-success:hover {
  color: rgba(64, 69, 83, 0) !important;
  background-color: rgba(64, 69, 83, 0) !important;
  border-color: rgba(64, 69, 83, 0) !important;
}
.btn {
  background-color: transparent;
  border: none !important;
  padding: 0 !important;
  font-size: 1rem;
  border-radius: 0px !important;
}
button svg {
  color: rgba(64, 69, 83, 0.2);
}
button svg:hover,
button svg:active {
  color: #73cde1;
}
/*navbar mobile*/
.navbar-toggler {
  width: 10% !important;
  text-align: left !important;
  align-content: start;
}
.navbar-toggler-icon {
  display: inline-block !important;
  width: 30% !important;
}
.navbar-light .navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
/*logo img*/
.navbar-brand img {
  width: 40%;
}
.divider-bottom {
  border: none;
  border-bottom: 1px solid rgba(64, 69, 83, 0.2) !important;
  width: 100%;
  margin-top: 0;
}

hr:not([size]) {
  height: unset !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: auto 0 auto 0 !important;
  }
}

@media (max-width: 992px) {
  #shopping-cart-header {
    display: none;
  }
  .footer-in-header a {
    margin-top: 2.5%;
  }
  #navbarOffcanvasLg {
    width: 35% !important;
    display: inline-block !important;
  }
  .navbar-toggler {
    padding: 0 !important;
  }
  div .search {
    width: 50% !important;
    margin-right: 0%;
  }
  .navbar-brand {
    width: 35% !important;
  }
  .navbar-brand img {
    width: 35%;
  }
  .lang {
    font-size: 1rem !important;
    font-weight: 500 !important;
  }
  /*off canva footer */
  .padding-lang,
  .flag {
    display: inline-flex;
  }
  .flag {
    padding-right: 65%;
  }
  .footer-in-header {
    display: block;
  }
  .footer-in-header a {
    width: 100%;
    justify-content: left !important;
    font-size: 0.8rem !important;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }
  .navbar-nav {
    display: block !important;
  }
  li #home-icon-header img,
  li #scan-icon-header img,
  li #list-icon-header img {
    width: 10%;
    padding-right: 3%;
    margin-left: 2%;
  }
  .padding-lang {
    padding: 0 2%;
  }
  .offcanvas-devider {
    text-align: center !important;
    border: none !important;
    border-bottom: 1px solid rgba(64, 69, 83, 0.2) !important;
    width: 100% !important;
    margin: 0 1.5% 0 1% !important;
    display: block !important;
  }
  a #home-icon-header,
  a #scan-icon-header,
  a #list-icon-header {
    display: inline-block !important;
  }
  .navbar a {
    flex-direction: unset !important;
  }
}

@media (max-width: 855px) {
  .flag {
    padding-right: 60%;
  }
}

@media (max-width: 770px) {
  .me-2 {
    margin-right: 0 !important;
  }
  .navbar-toggler-icon {
    width: 40% !important;
  }
}

@media (max-width: 750px) {
  .flag {
    padding-right: 50%;
  }
  li #home-icon-header img,
  li #scan-icon-header img,
  li #list-icon-header img {
    width: 12%;
  }
}

@media (max-width: 650px) {
  div .search {
    width: 50% !important;
  }
  .navbar-brand {
    width: 40% !important;
  }
  .navbar-brand img {
    width: 45%;
  }
}

@media (max-width: 607px) {
  #navbarOffcanvasLg {
    width: 40% !important;
  }
}
@media (max-width: 531px) {
  .flag {
    padding-right: 40%;
  }
}

@media (max-width: 550px) {
  .flag {
    padding-right: 50%;
  }
  button svg {
    width: 85%;
  }
  li #home-icon-header img,
  li #scan-icon-header img,
  li #list-icon-header img {
    width: 13%;
  }
  .footer-in-header a {
    font-size: 0.7rem !important;
  }
  .lang {
    font-size: 0.9rem !important;
  }
  .form-control {
    width: 80%;
  }
}

@media (max-width: 479px) {
  #navbarOffcanvasLg {
    width: 50% !important;
  }
}

@media (max-width: 425px) {
  .flag {
    padding-right: 40%;
  }
  .navbar-brand img {
    width: 55%;
  }
}

@media (max-width: 400px) {
  div .search {
    width: 40% !important;
  }
}

@media (max-width: 374px) {
  .footer-in-header a {
    font-size: 0.7rem !important;
  }
  li #home-icon-header img,
  li #scan-icon-header img,
  li #list-icon-header img {
    width: 15%;
  }
  .lang {
    font-size: 0.8rem !important;
  }
  .form-control {
    width: 100%;
  }
}

@media (max-width: 337px) {
  .footer-in-header a {
    font-size: 0.6rem !important;
    font-weight: 800 !important;
  }
  li #home-icon-header img,
  li #scan-icon-header img,
  li #list-icon-header img {
    width: 17%;
  }
}

/*-----------------product img-----------------*/

.images-container {
  width: 45% !important;
  display: inline-block !important;
  vertical-align: top !important;
  padding-right: 1% !important;
  position: relative !important;
}
.images-container .splide__arrow svg {
  height: 1em;
  width: 1em;
}
.images-container .splide__arrow {
  width: 2em;
  height: 2em;
}
.cursor {
  cursor: pointer;
}
.splide__arrow svg {
  fill: #73cde1 !important;
}
#image-carousel .splide__slide img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
#thumbnail-carousel .splide__slide img {
  width: 100px;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 15px;
  object-fit: cover;
}
.is-active,
.splide__slide {
  border: none !important;
}
#thumbnail-carousel .splide__track {
  width: 100%;
  padding-bottom: 15%;
  padding-top: 3%;
}
.splide__track--nav > .splide__list > .splide__slide {
  border: none !important;
  opacity: 0.6;
}
.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none !important;
  opacity: 1;
}
.splide__arrow {
  background-color: rgba(255, 255, 255, 0.212) !important;
}
.splide__arrow:hover {
  background-color: rgb(255, 255, 255) !important;
}

@media (max-width: 984px) {
  #thumbnail-carousel .splide__slide img {
    width: 80px;
  }
}

@media (max-width: 818px) {
  #thumbnail-carousel .splide__slide img {
    width: 70px;
  }
}
@media (max-width: 768px) {
  .images-container .splide__arrow svg {
    height: 0.8em;
    width: 0.8em;
  }
  .images-container .splide__arrow {
    width: 1.5em;
    height: 1.5em;
  }
}
@media (max-width: 650px) {
  #thumbnail-carousel .splide__slide img {
    width: 50px;
  }
}
@media (max-width: 550px) {
  .images-container .splide__arrow svg {
    height: 0.7em;
    width: 0.7em;
  }
  .images-container .splide__arrow {
    width: 1.2em;
    height: 1.2em;
  }
}
@media (max-width: 500px) {
  #thumbnail-carousel .splide__slide img {
    width: 100px;
  }
  .images-container {
    width: 100% !important;
    display: block;
    padding-bottom: 0%;
  }
  .images-container .splide__arrow svg {
    height: 0.9em;
    width: 0.9em;
  }
  .images-container .splide__arrow {
    width: 1.7em;
    height: 1.7em;
  }
}

/*-----------------content next to product img-----------------*/

.product-content {
  width: 53%;
  flex-direction: column;
  display: inline-block;
  vertical-align: top;
}
#product-name {
  font-weight: 700 !important;
  color: #000000;
  font-size: 2.5rem;
  margin: 0;
  padding-bottom: 2%;
}
.tiny-logo {
  display: inline-block;
  width: 4.5%;
  height: 4.5%;
  padding-right: 1%;
  text-align: center;
}
.inline p {
  display: inline-block;
  color: #73cde1;
  font-size: 0.5rem;
  font-weight: 400;
  vertical-align: top;
}
div .inline {
  padding-bottom: 2%;
}
.product-content p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
#product-code {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
}
.product-content .price h1 {
  display: inline-block;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 1%;
  text-align: center;
  padding-bottom: 0;
}
.price p {
  color: #000000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
}
.buttons-container {
  display: inline-flex;
  width: 100%;
}
.inline {
  display: inline-flex;
  width: 100%;
  align-items: center;
}
.Add-to-List {
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 12.252rem;
  border: none;
  width: 20%;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #03add3,
    #73cde1,
    #73cde1,
    #03add3
  );
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding-top: 1%;
  padding-bottom: 1%;
}
.Add-to-List:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.Lost-a-Sale {
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 12.252rem;
  border: none;
  width: 20%;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #d30303,
    #e17a73,
    #e17a73,
    #d30303
  );
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}
.Lost-a-Sale:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.buttons-container button {
  margin-right: 5%;
  margin-top: 1%;
}

@media (max-width: 1610px) {
  .Lost-a-Sale {
    font-weight: 600;
    font-size: 1.3rem;
    width: 23%;
  }
  .Add-to-List {
    font-weight: 600;
    font-size: 1.3rem;
    width: 23%;
  }
}

@media (max-width: 1348px) {
  .Lost-a-Sale {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 1.2rem;
  }
  .Add-to-List {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  #product-name,
  .Preordered p,
  .stock p,
  #Description-heading,
  .Specification p,
  .user-manual p,
  .products-category-header {
    font-size: 1.7rem !important;
  }
  .product-content .price h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 1104px) {
  .Lost-a-Sale {
    width: 27%;
  }
  .Add-to-List {
    width: 27%;
  }
}

@media (max-width: 952px) {
  .Lost-a-Sale {
    font-size: 1.1rem;
    width: 32%;
  }
  .Add-to-List {
    font-size: 1.1rem;
    width: 32%;
  }
  .inline p {
    font-size: 0.4rem;
  }
  .product-content p {
    font-size: 0.9rem;
  }
  #product-code {
    font-size: 1rem;
  }
  .product-content .price h1 {
    font-size: 1.3rem;
  }
  .price p {
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .Lost-a-Sale {
    font-size: 0.8rem;
    width: 30%;
    font-weight: 800;
  }
  .Add-to-List {
    font-size: 0.8rem;
    width: 30%;
    font-weight: 800;
  }
  .product-content p {
    font-size: 0.7rem;
    font-weight: 400;
  }
  #product-code {
    font-size: 0.9rem;
    font-weight: 700;
  }
  .product-content .price h1 {
    font-size: 1rem;
    font-weight: 700;
  }
  .price p {
    font-size: 0.7rem;
    font-weight: 700;
  }
}

@media (max-width: 550px) {
  .Lost-a-Sale {
    padding-bottom: 1%;
    font-size: 0.7rem;
    width: 35%;
    font-weight: 700;
  }
  .Add-to-List {
    padding-bottom: 1%;
    font-size: 0.7rem;
    width: 35%;
    font-weight: 700;
  }
  #product-name,
  .Preordered p,
  .stock p,
  #Description-heading,
  .Specification p,
  .user-manual p,
  .products-category-header {
    font-size: 1.3rem !important;
  }
  .inline p {
    font-size: 0.3rem;
    font-weight: 400;
  }
  .product-content p {
    font-size: 0.6rem;
  }
  #product-code {
    font-size: 0.7rem;
  }
  .product-content .price h1,
  td,
  th,
  .Preordered td,
  .Description p,
  .user-manual a {
    font-size: 0.8rem !important;
  }
  .price p {
    font-size: 0.6rem;
    font-weight: 600;
  }
}

@media (max-width: 500px) {
  .product-content {
    width: 100%;
    display: block;
  }
  .buttons-container {
    display: block;
    width: 100%;
    text-align: center;
  }
  .Lost-a-Sale {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1rem;
    width: 39%;
    margin-right: 0;
    font-weight: 800;
  }
  .Add-to-List {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1rem;
    width: 39%;
    font-weight: 800;
    margin-right: 75px !important;
  }
  .buttons-container button {
    margin-right: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #product-name,
  .Preordered p,
  .stock p,
  #Description-heading,
  .Specification p,
  .user-manual p,
  .products-category-header {
    font-size: 1.8rem !important;
  }
  .inline {
    padding-top: 2%;
  }
  .product-content p {
    padding-top: 1%;
    font-size: 0.8rem;
  }
  #product-code {
    font-size: 1rem;
  }
  .product-content .price h1 {
    font-size: 1.3rem !important;
  }
  #currncy {
    font-size: 0.8rem;
  }
}

@media (max-width: 430px) {
  .Lost-a-Sale {
    width: 38%;
  }
  .Add-to-List {
    width: 38%;
  }
}

@media (max-width: 375px) {
  #product-name,
  .Preordered p,
  .stock p,
  #Description-heading,
  .Specification p,
  .user-manual p,
  .products-category-header {
    font-size: 1.6rem !important;
  }
  .product-content p {
    padding-top: 1%;
    font-size: 0.7rem;
    font-weight: 400;
  }
  #product-code {
    font-size: 1rem;
    font-weight: 700;
  }
  .product-content .price h1 {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .price p {
    font-size: 0.8rem;
    font-weight: 700;
  }
  .Lost-a-Sale {
    width: 36%;
  }
  .Add-to-List {
    width: 36%;
  }
}

@media (max-width: 331px) {
  .Lost-a-Sale {
    width: 35%;
  }
  .Add-to-List {
    width: 35%;
  }
  #product-name,
  .Preordered p,
  .stock p,
  #Description-heading,
  .Specification p,
  .user-manual p,
  .products-category-header {
    font-size: 1.3rem !important;
  }
  #product-code {
    font-size: 0.9rem;
    font-weight: 700;
  }
}

/*-----------------availblity + Preordered-----------------*/
.availblity-stock-container {
  padding-top: 3%;
 

}
.availblity-Preordered {
  width: 47%;
  display: inline-flex;
  padding-right: 1%;
  flex-direction: column;
  margin: 0 auto;

}
.Preordered {
  align-items: center;
  border: 12px solid rgba(243, 253, 255, 1);
  background-color: rgba(243, 253, 255, 1);
  border-radius: 10px;
  padding-top: 0%;
  margin: 0;
}
.availblity-container p {
  padding: 1%;
  border-radius: 3px;
  font-size: 1.5rem;
  border: 1px solid rgba(126, 122, 122, 0.219);
  font-weight: 700;
  text-align: center;
}
.availble {
  background-color: #19875441;
  color: #198754;
}
.Not-Available {
  background-color: #dc354636;
  color: #dc3545;
}
.Arriving-Soon {
  background-color: #fffad1;
  color: #ffc107;
}
#Preordered-table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}
.Preordered td {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1%;
  color: black;
  background-color: #fff;
  border-bottom: 7px solid rgba(243, 253, 255, 1);
}
.Preordered p {
  margin: 3px;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 1508px) {
  .availblity-Preordered {
    width: 47%;
  }
}

@media (max-width: 1085px) {
  .availblity-container p {
    font-size: 1.3rem;
  }
}

@media (max-width: 885px) {
  .availblity-container p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .availblity-container p {
    font-size: 1rem;
  }
}

@media (max-width: 757px) {
  .availblity-container p {
    font-size: 0.9rem;
    font-weight: 700;
  }
}

@media (max-width: 651px) {
  .availblity-container p {
    font-size: 0.8rem;
  }
  .availblity-container {
    padding-bottom: 5%;
  }
}

@media (max-width: 500px) {
  .availblity-Preordered {
    width: 100%;
    display: block;
    padding-right: 1%;
    padding-bottom: 8%;
  }
  .availblity-container p {
    font-size: 1rem;
    font-weight: 800;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .Preordered p {
    padding-bottom: 3%;
  }
}

/*-----------------stock-----------------*/

.stock {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width:47%;
  border: 12px solid rgba(243, 253, 255, 1);
  background-color: rgba(243, 253, 255, 1);
  border-radius: 10px;
  padding: 0%;
  margin: 0;
}
#stock-table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}
.stock td,
.stock th {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1%;
  color: black;
  background-color: #fff;
  border-bottom: 7px solid rgba(243, 253, 255, 1);
}
.stock p {
  margin: 3px;
  font-size: 2.5rem;
  font-weight: 700;
}
.left-column {
  text-align: left;
}
.right-column {
  text-align: right;
}

@media (max-width: 1085px) {
 
}
@media (max-width: 500px) {
  .stock {
    width: -webkit-fill-available;
  }
  .stock p {
    padding-bottom: 3%;
  }
}

/*-----------------Description-----------------*/
.Description-Specification-container {
  padding-top: 3%;
}
.inline-Description {
  width: 47%;
  padding-right: 1%;
  display: inline-flex;
  flex-direction: column;
}
.Description {
  border: 1px solid rgba(64, 69, 83, 0.2);
  border-radius: 10px;
}
#Description-heading {
  color: #73cde1;
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin: 0;
  font-size: 2.2rem;
  padding-top: 0%;
  padding-bottom: 0%;
  font-weight: 700;
}
.Description hr {
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(64, 69, 83, 0.2);
  width: 96%;
  margin: 0rem 0.5rem !important;
}
.Description p {
  font-weight: 600;
  padding: 1%;
  font-size: 1.1rem;
}

.padding-Description {
  padding-right: 1%;
}

@media (max-width: 1237px) {
  .inline-Description {
    width: 49%;
  }
}
@media (max-width: 768px) {
  .inline-Description {
    width: 100%;
    padding-right: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  #Description-heading {
    padding: 2%;
  }
  .Description p {
    padding: 2% !important;
    font-weight: 600;
  }
  .inline-Description {
    display: block;
    padding-top: 5%;
    padding-bottom: 3%;
  }
}

/*-----------------Specification-----------------*/

.Specification {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  /* padding: 2%; */
  border: 1px solid rgba(64, 69, 83, 0.2);
  border-radius: 10px;
}
tr:nth-child(even) {
  background-color: #def0f4;
}
.Specification p {
  width: 100%;
  color: #73cde1;
  text-align: left;
  margin: 0;
  padding-left: 2%;
  font-size: 2.2rem;
  font-weight: 700;
}
.specification-table {
  width: 100%;
  border-collapse: collapse;
}
.Specification hr {
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(64, 69, 83, 0.2);
  width: 98%;
  margin-top: 0;
}
.Specification td {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .Specification {
    width: 100%;
    padding-right: 0%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .Specification p {
    padding: 2%;
  }
}

/*-----------------user-manual-----------------*/

.padding-user-manual {
  padding-top: 3%;
  padding-bottom: 5%;
}
.user-manual {
  border: 1px solid rgba(64, 69, 83, 0.2);
  border-radius: 10px;
  width: 99.2%;
}
.user-manual p {
  color: #73cde1;
  margin: 0;
  margin-left: 1%;
  margin-right: 1%;
  text-align: left;
  font-size: 2.2rem;
  font-weight: 700;
}
.user-manual hr {
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(64, 69, 83, 0.2);
  width: 98%;
  margin-right: 1.5% !important;
  margin-left: 1% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.user-manual img {
  width: 2%;
  vertical-align: middle;
  margin-left: 1%;
}
.user-manual a {
  padding-right: 1.5%;
  color: black;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}
.pdf-icon-padding {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
@media (max-width: 1024px) {
  .user-manual img {
    width: 3%;
  }
}

@media (max-width: 768px) {
  .user-manual {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .user-manual p {
    padding: 2%;
  }
  .user-manual img {
    width: 5%;
    margin-left: 3%;
  }
  .user-manual a {
    padding-right: 5%;
  }
}

/*-----------------products category-----------------*/

.gray,
.blue {
  width: 100%;
}
.products-category {
  position: relative;
  box-sizing: border-box;
  display: block;
  align-items: center;
  justify-content: center;
  /* max-width: 1430px; */
  margin: 0 auto;
  padding: 3rem 0;
}

.products-category .splide__arrow svg {
  height: 2em;
  width: 2em;
}
.products-category .splide__arrow {
  width: 3em;
  height: 3em;
}
.devider-products-category {
  text-align: center;
  border: none;
  border-bottom: 5px solid #73cde1;
  width: 5%;
  margin: 0;
  margin-bottom: 15px;
}
.products-category-header {
  color: #000000;
  margin: 0;
  font-size: 2.2rem;
  font-weight: 700;
}
.card-body {
  padding: 0;
  object-fit: cover;
}
.card {
  background-color: white;
  border: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  direction: ltr;
}
.card p {
  color: black;
}
.container img {
  width: 100%;
  height: auto;
}

.gray {
  background-color: #f7f7fa;
}
.blue {
  background: rgba(90, 221, 251, 0.1);
}
.price,
.card-title,
.vat {
  padding: 2%;
}
.products-category .splide__arrow--prev,
.products-category .splide__arrow--next {
  bottom: 40% !important;
  top: auto !important;
}
.card-title {
  font-size: 1.3rem;
  font-weight: 600;
}
.card-price {
  display: inline-block;
  color: black;
  font-size: 1.1rem !important;
  font-weight: 600 !important;
  padding-right: 1% !important;
  vertical-align: top;
  padding-bottom: 1% !important;
  display: inline-block !important;
  margin: 0;
}
.card-currncy {
  color: black !important;
  font-size: 0.9rem !important;
  font-weight: 600;
  vertical-align: bottom;
  display: inline-block;
  margin: 0;
}
.vat {
  font-size: 0.8rem;
  color: #707070 !important;
  font-weight: 500;
}

@media (max-width: 1440px) {
  .products-category {
    /* max-width: 1250px; */
    padding-left: 1.5rem;
  }
}

@media (max-width: 1024px) {
  /* .products-category {
    max-width: 900px;
  } */
  .devider-products-category {
    width: 7% !important;
  }
  .card-title {
    font-size: 1.1rem;
    font-weight: 700;
  }
  .card-price {
    font-size: 1.1rem !important;
    font-weight: 800 !important;
  }
  .card-currncy {
    font-size: 0.8rem !important;
  }
  .vat {
    font-size: 0.7rem;
  }
  .products-category .splide__arrow svg {
    height: 1.6em;
    width: 1.6em;
  }
  .products-category .splide__arrow {
    width: 2.8em;
    height: 2.8em;
  }
}

@media (max-width: 768px) {
  .products-category {
    padding-left: 0.1rem;
  }
  .devider-products-category {
    width: 9% !important;
  }
  .card-title {
    font-size: 1.1rem;
    font-weight: 700;
  }
  .card-price {
    font-size: 1.1rem !important;
    font-weight: 800 !important;
  }
  .card-currncy {
    font-size: 0.8rem !important;
  }
  .vat {
    font-size: 0.7rem;
  }
  .products-category .splide__arrow svg {
    height: 1.4em;
    width: 1.4em;
  }
  .products-category .splide__arrow {
    width: 2.6em;
    height: 2.6em;
  }
}

@media (max-width: 425px) {
  .devider-products-category {
    width: 13% !important;
  }
  .card-title {
    font-size: 0.9rem;
  }
  .card-price {
    font-size: 0.8rem !important;
  }
  .card-currncy {
    font-size: 0.7rem !important;
  }
  .vat {
    font-size: 0.7rem;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: unset;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: unset;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: unset;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: unset;
  }
}
@media (max-width: 375px) {
  .products-category .splide__arrow--prev {
    left: 0.5em;
  }
  .products-category .splide__arrow--next {
    right: 0.5em;
  }
  .products-category .splide__arrow svg {
    height: 1.2em;
    width: 1.2em;
  }
  .products-category .splide__arrow {
    width: 2.3em;
    height: 2.3em;
  }
  .card-title {
    font-size: 0.9rem;
  }
  .card-price {
    font-size: 0.9rem !important;
  }
  .card-currncy {
    font-size: 0.7rem !important;
  }
}

/*-----------------footer-----------------*/

footer div {
  display: inline-flex;
}
footer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  bottom: 0;
}
.navbar {
  background-color: #73cde1;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar a {
  text-align: center;
  align-content: center;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  display: inline-flex;
  flex-direction: column;
}
footer img {
  width: 7%;
  padding-top: 3%;
  margin-left: 15rem;
  margin-right: 15rem;
  padding-bottom: 2%;
}
footer .navbar a p {
  margin-top: 0;
  color: #fff;
  font-size: 1.1rem;
}
footer .navbar a {
  flex-direction: column !important;
}
.end-footer {
  background-color: #fff;
  display: flex;
  background-color: #fff;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
#left-end-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  margin: 0;
}
#right-end-footer {
  display: flex;
  justify-content: space-between;
  padding-right: 4%;
  margin: 0;
}
.end-footer p,
.end-footer a {
  margin: 0;
}
.space-between1 {
  margin-left: 30px !important;
}
footer div a,
footer p {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 0.9rem;
}

@media (max-width: 1677px) {
  footer img {
    width: 9%;
    padding-top: 6%;
    margin-left: 11rem;
    margin-right: 11rem;
  }
}
@media (max-width: 1293px) {
  footer img {
    width: 13%;
    margin-left: 9rem;
    margin-right: 9rem;
    padding: 2%;
  }
  footer .navbar a p {
    margin: 0;
  }
}

@media (max-width: 1110px) {
  footer img {
    width: 13%;
    margin-left: 7rem;
    margin-right: 7rem;
  }
  .end-footer p,
  .end-footer a {
    font-size: 0.7rem;
  }
  footer .navbar a p {
    font-size: 1rem;
  }
}
@media (max-width: 909px) {
  footer img {
    width: 15%;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (max-width: 717px) {
  footer img {
    width: 17%;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
  footer .navbar a p {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .stock p {
    font-size: 1.8rem;
  }
}

@media (max-width: 650px) {
  .space-between1 {
    margin-left: 20px;
  }
}

@media (max-width: 573px) {
  footer img {
    width: 21%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .space-between1 {
    margin-left: 17px;
  }
}
@media (max-width: 550px) {
  .end-footer p,
  .end-footer a {
    font-size: 0.6rem;
  }
}
@media (max-width: 506px) {
  footer img {
    width: 24%;
  }
  .end-footer p,
  .end-footer a {
    font-size: 0.6rem;
  }
  footer .navbar a p {
    font-size: 0.8rem;
  }
}

@media (max-width: 429px) {
  footer img {
    width: 21%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .end-footer p,
  .end-footer a {
    font-size: 0.4rem;
  }
  footer .navbar a p {
    font-size: 0.6rem;
  }
}

@media (max-width: 429px) {
  footer img {
    width: 25%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .end-footer p,
  .end-footer a {
    font-size: 0.4rem;
  }
  footer .navbar a p {
    font-size: 0.6rem;
  }
}
.gray {
  background-color: #f2f2f2;
}
/* .products-category {
  padding: 20px;
} */
.products-category-header {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-left: 1em;
}
/* .devider-products-category {
  border-top: 1px solid #333;
} */
.card {
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
/* Existing CSS */
.gray {
  background-color: #f2f2f2;
}
/* .products-category {
  padding: 20px;
} */
/* ... */

/* Additional CSS for better styling */
.slick-arrow {
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 1;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-slide {
  padding: 15px;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.bstn-login {
  padding: 5em 0;
}

/* CSS which you need for blurred box */
.bstn-login {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  /* background-image:url(http://bit.ly/2gPLxZ4); */
  width: 100%;

  height: 100%;

  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.blurred-box {
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:after {
  content: "";
  width: 300px;
  height: 300px;
  background: inherit;
  position: absolute;
  left: -25px;
  right: 0;
  top: -25px;
  bottom: 0;
  filter: blur(10px);
}

/* Form which you dont need */
.user-login-box {
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}
.user-login-box > * {
  display: inline-block;
  width: 200px;
}

.user-icon {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url(https://media.istockphoto.com/id/1316420668/vector/user-icon-human-person-symbol-social-profile-icon-avatar-login-sign-web-user-symbol.jpg?s=612x612&w=0&k=20&c=AhqW2ssX8EeI2IYFm6-ASQ7rfeBWfrFFV4E87SaFhJE=);
}

.user-name {
  margin-top: 15px;
  margin-bottom: 15px;
}

input.user-password {
  box-shadow: inset 0 0 0 200px rgb(225, 232, 238);
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}

input.user-name {
  box-shadow: inset 0 0 0 200px rgb(225, 232, 238);

  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}

button.user-log {
  box-shadow: inset 0 0 0 200px #73cde1;

  opacity: 1;
  border-radius: 2px;
  margin-top: 20px;
  padding: 5px 15px;
  border: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Takes at least the full height of the viewport */
  margin: 0 auto; /* Centers the content horizontally */
  padding: 20px;
  box-sizing: border-box;
}

.home-header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.logo {
  width: 120px;
  height: auto;
}

.home-main {
  /* width: 100%;
    max-width: 600px; */
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sku-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sku-input {
  padding: 10px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sku-submit-button {
  padding: 10px 20px;
  background-color: #73cde1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.sku-submit-button:hover {
  background-color: #73cde1;
}

.scan-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #73cde1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.scan-button:hover {
  background-color: #4ea0b3;
}

.scanner-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 1000;
  justify-content: flex-start;
}

.scanner-content {
  
  flex-direction: column;
  border-radius: 10px;
}

.close-button {
  background-color: #ff6262; /* red color */
  color: #fff; /* white text */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #e60000; /* darker red on hover */
}
.container {
  /* padding: 20px; */
  font-family: "Arial, sans-serif";
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.input {
  padding: 8px;
  font-size: 16px;
  margin: 5px 0 20px;
}

.error {
  color: red;
}

.product-details {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  width:auto;
  margin: 0 auto;
}
.to-image {
  width: 100%;
  height: auto;
}
.product-image {
  max-width: 100px;
  max-height: 100px;
  margin: 0 0 10px;
}

.product-title {
  font-weight: bold;
  font-size: 20px;
}

.product-sku,
.product-category {
  color: #888;
}

.product-price {
  color: #000;
}

.sale-price {
  color: #e44d26;
}

.original-price {
  text-decoration: line-through;
  color: #888;
}

.discount {
  color: #4caf50;
}

video {
  width: 100% !important;
  /* height: 100% !important; */
}

.container-home {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.home-header {
  text-align: center;
}

.home-main {
  margin-top: 20px;
}

#instructions {
  /* background-color: #f7f7f7; */
  padding: 10px;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
}

.sku-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.sku-form input {
  padding: 10px;
  flex: 1;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.scan-button {
  padding: 10px 20px;
  background-color: #73cde1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.scan-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.product-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.scanner-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scanner-content {
  
  padding: 5px;
  border-radius: 4px;
 
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #c82333;
}
/* ... Existing styles ... */

#instructions {
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
  color: black;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#myInput {
  border: 2px solid #73cde1;
  padding: 10px;
  width: 200px;
   border-bottom-left-radius: 10px;
  color: black;
  padding-left: 20px;
  font-size: 14px;
  border-right: 0px;
}

.submit {
  font-family: "Lexend Deca", sans-serif;
  background-color: #73cde1;
  border: 2px solid #73cde1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100px;
  cursor: pointer;
}
.submit:hover {
  font-family: "Lexend Deca", sans-serif;
  background-color: #000000;
  border: 2px solid #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100px;
  cursor: pointer;
}

#output {
  /* width: 80%; */
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  margin-top: 50px;
}

i.barcode-icon {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 40px;
  background: linear-gradient(
    to right,
    #000 0%,
    #000 3%,
    transparent 3%,
    transparent 5%,
    #000 5%,
    #000 9%,
    transparent 9%,
    transparent 12%,
    #000 12%,
    #000 13%,
    transparent 13%,
    transparent 14%,
    #000 14%,
    #000 16%,
    transparent 16%,
    transparent 18%,
    #000 18%,
    #000 21%,
    transparent 21%,
    transparent 23%,
    #000 23%,
    #000 27%,
    transparent 27%,
    #000 27%,
    #000 32%,
    transparent 32%,
    transparent 36%,
    #000 36%,
    #000 38%,
    transparent 38%,
    transparent 40%,
    #000 40%,
    #000 41%,
    transparent 41%,
    transparent 44%,
    #000 44%,
    #000 47%,
    transparent 47%,
    transparent 50%,
    #000 50%,
    #000 53%,
    transparent 53%,
    transparent 54%,
    #000 54%,
    #000 58%,
    transparent 58%,
    #000 58%,
    #000 60%,
    transparent 60%,
    transparent 62%,
    #000 62%,
    #000 64%,
    transparent 64%,
    transparent 65%,
    #000 65%,
    #000 68%,
    transparent 68%,
    transparent 70%,
    #000 70%,
    #000 71%,
    transparent 71%,
    transparent 74%,
    #000 74%,
    #000 78%,
    transparent 78%,
    transparent 82%,
    #000 82%,
    #000 85%,
    transparent 85%,
    transparent 88%,
    #000 88%,
    #000 91%,
    transparent 91%,
    transparent 94%,
    #000 94%,
    #000 95%,
    transparent 95%,
    transparent 97%,
    #000 97%,
    #000 98%,
    transparent 98%,
    transparent 99%,
    #000 99%
  );

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: #73cde1;

    box-shadow: 0 0 12px 2px #73cde1;
    border-radius: 100px;
    opacity: 0.8;
    animation: scan 8s infinite ease-in-out;
  }
}

@keyframes scan {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-20px);
  }
  30% {
    transform: translateY(20px);
  }
  40% {
    transform: translateY(0);
  }
}
.home-header {
  width: 70%;
  /* or whatever maximum width you want for the logo */
  margin: 0 auto; /* center the logo container */
}

.logo {
  width: 100%; /* make the image take up 100% of its container’s width */
  height: auto;
}
.error-message {
  text-align: center;
}

.to-product-details {
  padding: 10px 20px;
  background-color: #73cde1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.slick-track {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.slick-track > div {  /* Targeting each slide within the slick-track */
  flex: 2 2 auto;
   box-sizing: border-box;  /* Include padding and border in element's total width and height */
}

/* For smaller screens, adjust padding or margins if necessary */
@media (max-width: 425px) {
  .slick-track > div {
      padding: 0 5px;
  }
}

@media (max-width: 768px) {
  .slick-track > div {
      padding: 0 10px;
  }
}


.scanner-modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.scanner-content {
 
  text-align: center;
}

.scanner-instructions {
  color: white;
  margin-bottom: 20px;
}

.container-scanner {
  position: relative;
}

.container-scanner .scanner-content {
  position: relative;
}

.container-scanner .scanner-content video {
  width: 100%;
  height: auto;
}

.guidelines {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(white, white) left top, linear-gradient(white, white) left top, linear-gradient(white, white) right top, linear-gradient(white, white) right top, linear-gradient(white, white) left bottom, linear-gradient(white, white) left bottom, linear-gradient(white, white) right bottom, linear-gradient(white, white) right bottom;
  background-repeat: no-repeat;
  background-size: 2px 24px, 24px 2px;

  width: 50%;
  height: calc(65% - 30px); /* Adjust based on the video's height */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(#fff, #fff) left top, 
              linear-gradient(#fff, #fff) left top, 
              linear-gradient(#fff, #fff) right top, 
              linear-gradient(#fff, #fff) right top, 
              linear-gradient(#fff, #fff) left bottom, 
              linear-gradient(#fff, #fff) left bottom, 
              linear-gradient(#fff, #fff) right bottom, 
              linear-gradient(#fff, #fff) right bottom;
  background-repeat: no-repeat;
  background-size: 3px 24px, 24px 3px;
  z-index: 2;
}

.container-scanner .scanner-content::before {
  content: "";
  position: absolute;
  width: 95%;
  background: #73cde1;
  top: 50%;
  left: 2.5%;
  height: 3px;
  border-radius: 100%;
  box-shadow: 0 0 3px 0 #73cde163;
  animation: scan ease-in-out 2s infinite;
}

@keyframes scan {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

